<header class="site-header">
  <div class="container">
    <div class="site-title"><a href="/">My Awesome Site</a></div> {# Placeholder updated, class added #}
    {% include "partials/navigation.njk" %}
  </div>
</header>
