<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About Me</a></li>
    <li><a href="/cv/">CV</a></li>
    <li><a href="/work-demos/">Work Demos</a></li>
    <li><a href="/photography/">Photography</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/admin/" class="admin-link">Admin</a></li>
  </ul>
</nav>
